    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

    body {
      margin: 0;
      box-sizing: border-box;
    }

    /* CSS for header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
            .container {
            margin-top: 20px;
        }

    .header .logo {
      font-size: 25px;
      font-family: 'Sriracha', cursive;
      color: #800000;
      text-decoration: none;
      margin-left: 30px;
      background-color: rgb(255, 255, 255);
    }
    /* CSS for main element */
    .intro {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 520px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("bg1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .intro h1 {
      font-family: sans-serif;
      font-size: 60px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    .intro p {
      font-size: 20px;
      color: #f5f5f5;
      text-transform: uppercase;
      margin: 20px 0;
    }

    .intro button {
      background-color: #800000;
      font-family: 'Times', sans-serif;
      color: white;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
    }

    .achievements {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 80px;
    }

    .achievements .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .achievements .work i {
      width: fit-content;
      font-size: 50px;
      color: #333333;
      border-radius: 50%;
      border: 2px solid #333333;
      padding: 12px;
    }

    .achievements .work .work-heading {
      font-size: 20px;
      color: #333333;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .achievements .work .work-text {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

    .about-me {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 80px;
      border-top: 2px solid #800000;
    }

    .about-me img {
      width: 500px;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .about-me-text h2 {
		      font-family: 'Sriracha', cursive;

      font-size: 30px;
      color: #800000;
      text-transform: uppercase;
      margin: 0;
      text-align: center;
    }

    .about-me-text p {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

    /* CSS for footer */
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #800000;
      padding: 0px 10px;
    }
            .copy {
            text-align: center;
            padding: 10px;
            background-color: #f5f5f5;
            position: absolute;
            bottom: 0;
            width: 100%;
        }


    .bottom-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 0;
      background-color: #800000;
    
    }
    

    .bottom-links .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }

    .bottom-links .links span {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .bottom-links .links a {
      text-decoration: none;
      color: #a1a1a1;
      padding: 10px 20px;
    }
    .featured-section {
            background-color: #f8f8f8;
            padding: 40px;
            text-align: center;
        }

        .featured-artworks {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;

        }

        .featured-artwork {
			                        background-color: peachpuff;

            flex: 0 0 30%; /* Adjust the width as needed */
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .featured-artwork img {
            width: 100%;
            height: auto;
            border-bottom: 2px solid #fff; /* Add a white border between artworks */
        }

        .artwork-details {
            padding: 10px;
        }

        .artwork-title {
            font-size: 16px;
            color: #800000;
        }

        .artist-name {
            font-style: italic;
            color: black;
        }
      