@charset "ISO-8859-1";
* {box-sizing:border-box}
/* Home.css */

body {
  font-family: 'Times', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  text-align: justify;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.navbar{
	width: auto;
	background-color:#800000;
	height: auto;	
	
}
.nav {
  height: auto;
  width: auto;
  justify-content: center;
}

.nav h1{
  margin-top:25%;
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
  color: rgba(225,225,225, .01);
  background-image: url('bg.jpg');
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}


body {
  background: url('bg1.jpg') center/cover;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


h1{
	font-size: 30px;
	align-items: center;
	top: 0;
}
.navbar {  position: absolute;
  display: flex;
  top: 15%;  width: 100vw;
  height: 50px;
  background-color: transparent;
  color: ghostwhite;
  text-align: center;
  align-items: center;
  padding: 150px;
}



.logo {
  width: 150px;
  height: auto;
}

.cta {
  position: absolute;
  bottom: 30%; /* Adjusted bottom position */
  left: 78%;
  padding: 10px 20px;
  background: #800000;
  border-radius: 30px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}


.line {
  height: 3px;
  background-color: #F8F6F2;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.homeText {
  text-align: center;
}

.homeText h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  body {
    background-size: contain;
  }

  .search {
    display: none;
  }

  .artwork {
    padding: 20px;
  }

  .artwork .box .card .cta1 {
    object-fit: contain;
  }
}
.footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

